<nav class="navbar">
  <div class="logo">
    <a href="">
      <img ngSrc="/assets/image/logoBat.png" alt="Mi logo" width="40" height="20">
    </a>
  </div>
  <ul class="nav-links">
    @for (menu of menuItems; track $index) {
      <li [class]="menu.classCss">
        <i [class]="menu.icon"></i>
        <a [routerLink]="menu.path">{{ menu.title }}</a>
      </li>
    }
    <!-- Como funciona el @for
     <li><a routerLink="inicio">Inicio</a></li>
    <li><a routerLink="acercade">Acerca de</a></li>
    <li><a routerLink="imagenes">Imagenes</a></li>
    <li><a routerLink="persona">Persona</a></li>
    <li><a routerLink="usuarios">Usuarios</a></li>
    <li><a routerLink="contacto">Contacto</a></li> -->
  </ul>
</nav>

