.container {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

app-tabla th, app-tabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

app-tabla th {
  background-color: #4CAF50;
  color: white;
}

