<div class="container">
  <div class="contact-form">
      <form action="/submit_contact" method="post">
          <h1>Contactanos</h1>
          <p>Escribenos ahora!</p>
          <input type="text" name="nombre" placeholder="Nombre" required>
          <input type="email" name="correo" placeholder="Correo Electrónico" required>
          <input type="text" name="asunto" placeholder="Asunto" required>
          <textarea name="mensaje" placeholder="Mensaje" required></textarea>
          <button type="submit">Enviar</button>
      </form>
  </div>
</div>
