<h1>Mis imagenes</h1>
<img Src="/assets/image/imagen1.jpg" alt="imagen1" width="200" height="400">
<img ngSrc="/assets/image/imagen2.jpg" alt="imagen2"width="200" height="400">
<img ngSrc="/assets/image/imagen3.jpg" alt="imagen3"width="200" height="400">
<img ngSrc="/assets/image/imagen7.jpg" alt="imagen7"width="200" height="400">
<img ngSrc="/assets/image/imagen5.jpg" alt="imagen5"width="200" height="400">
<img ngSrc="/assets/image/imagen6.jpg" alt="imagen6"width="100" height="250">
<img ngSrc="/assets/image/imagen4.jpg" alt="imagen4"width="100" height="250">
<img ngSrc="/assets/image/imagen8.jpg" alt="imagen8"width="100" height="250">
